{% extends "base2.html" %}
{% block content %}
{% load static %}
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap"
		rel="stylesheet"
	/>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
		crossorigin="anonymous"
	/>
	<script defer src="{% static 'js/script.js' %}"></script>

	<title>Profile</title>
</head>
	<style>
		.modal-content{
			border: 10px solid #76b30f;
			border-radius: 20px;
		}
		.btn.btn-primary{
			background-color: #76b30f;
			border: 1px solid;
		}
		.form-control:hover{
			border: 4px solid #76b30f;
		}
	</style>
	<main class="profile light-bg-clr pd-down">
		<span class="page-highlight-span">Profile</span>
		<div class="flex-column justify-content-center">
			<div class="profile-img-container pos-rel">
				<img class="profile-page-img" src="../static/img/profile-img.png" alt="">
				<span class="profile-camera-icon flex-center">
					<img src="../static/img/svg/camera-icon.svg" alt="camera icon">
					<form action="">
						<input type="file">
					</form>
				</span>
			</div>

			<h3 class="page-head text-center">{{request.user.first_name}}</h3>
			<p class="mac-text-mid text-center">Member since {{ request.user.date_joined|date}}</p>
		</div>
		<div class="profile-main-content mt-3">
			<div class="profile-util-container flex-column gap-4 align-items-start">
				<div class="profile-util-item my-profile">
					<div data-profile_cta="my-profile" class="profile-util-item-head">
						<img class="icon" src="../static/img/profile-icon.png" alt="profile icon">
						<span class="mac-text-mid">My Profile</span>
					</div>
				</div>
				
				<!-- Mobile -->
				{% if request.user.is_authenticated %}
				<div data-profile_category="my-profile" class="info-item profile-details-container mobile w-100 bd p-4 br-10">
					<div class="profile-details-item">
						<span class="mac-text-sm fw-500">First Name</span>
						<p class="mac-text-mid fw-600">{{request.user.first_name}}</p>
					</div>

					<div class="profile-details-item">
						<span class="mac-text-sm fw-500">Surname</span>
						<p class="mac-text-mid fw-600">{{request.user.last_name}}</p>
					</div>

					<div class="profile-details-item">
						<span class="mac-text-sm fw-500">Mobile number</span>
						<p class="mac-text-mid fw-600">{{request.user.phone_number}}</p>
					</div>

					<div class="profile-details-item">
						<span class="mac-text-sm fw-500">Address (optional)</span>
						{% if not profile %}
						<p class="mac-text-mid fw-600">No Address</p>
						{% else %}
						<p class="mac-text-mid fw-600">{{profile.address}}</p>
						{% endif %}
					</div>

					<div class="edit-cta-container">
						<span class="edit-text">Update your details</span>
						<button   data-bs-toggle="modal" data-bs-target="#ProfileModal" class="edit-btn"><img src="../static/img/svg/pen.svg" alt=""></button>
					</div>
				</div>
				{% endif %}

				<div class="modal fade" id="ProfileModal" tabindex="-1" aria-labelledby="ProfileModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="ProfileModalLabel">Update Profile Details</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<form method="post" action="">
								{% csrf_token %}
								<div class="modal-body">
									<div class="mb-3">
										<label for="firstName" class="form-label">First Name</label>
										<input type="text" class="form-control" id="firstName" name="first_name" value="{{ request.user.first_name }}">
									</div>
									<div class="mb-3">
										<label for="lastName" class="form-label">Surname</label>
										<input type="text" class="form-control" id="lastName" name="last_name" value="{{ request.user.last_name }}">
									</div>
									<div class="mb-3">
										<label for="phoneNumber" class="form-label">Mobile Number</label>
										<input type="text" class="form-control" id="phoneNumber" name="phone_number" value="{{ request.user.phone_number }}">
									</div>
									<div class="mb-3">
										<label for="address" class="form-label">Address (optional)</label>
										<input type="text" class="form-control" id="address" name="address" value="{{profile.address}}">
										
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Save changes</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- Mobile -->

				<div  class="profile-util-item">
					<div data-profile_cta="my-donations" class="profile-util-item-head campaign">
						<img class="icon" src="../static/img/svg/megaphone.svg" alt="profile icon">
						<span class="mac-text-mid">My Campaigns</span>
					</div>

					
					<div data-profile_category="my-donations" class="info-item profile-donations-container mobile text-center w-100 bd p-4 br-10">
						<div class="flex-column gp-10 h-100">
							<span class="donate-text mac-text-mid">You have not made any donations</span>
							<a href="#" class="cta-btn mt-3 highlight-span-clr">Donate</a>								
						</div>
					</div>
				</div>

				<div  class="profile-util-item">
					<div data-profile_cta="my-campaigns" class="profile-util-item-head">
						<img class="icon" src="../static/img/svg/donor-icon.svg" alt="profile icon">
						<span class="mac-text-mid">My Donations</span>
					</div>

					<div data-profile_category="my-donations" class="info-item profile-donations-container mobile text-center w-100 bd p-4 br-10">
						<div class="flex-column gp-10 h-100">
							<span class="donate-text mac-text-mid">You have not made any donations</span>
							<a href="#" class="cta-btn mt-3 highlight-span-clr">Donate</a>								
						</div>
					</div>
				</div>
			</div>
	{% if request.user.is_authenticated %}
			<div class="profile-info-wrapper flex-column">
				<div data-profile_category="my-profile" class="info-item profile-details-container w-100 bd p-4 br-10">
					<div class="profile-details-item">
						<span class="mac-text-sm fw-500">First Name</span>
						<p class="mac-text-mid fw-600">{{request.user.first_name}}</p>
					</div>

					<div class="profile-details-item">
						<span class="mac-text-sm fw-500">Surname</span>
						<p class="mac-text-mid fw-600">{{request.user.last_name}}</p>
					</div>

					<div class="profile-details-item">
						<span class="mac-text-sm fw-500">Mobile number</span>
						<p class="mac-text-mid fw-600">{{request.user.phone_number}}</p>
					</div>

					<div class="profile-details-item">
						<span class="mac-text-sm fw-500">Address (optional)</span>
						{% if not profile.address %}
						<p class="mac-text-mid fw-600">No Address</p>
						{% else %}
						<p class="mac-text-mid fw-600">{{profile.address}}</p>
						{% endif %}
					</div>

					<div class="edit-cta-container">
						<span class="edit-text">Update your details</span>
						<button  data-bs-toggle="modal" data-bs-target="#updateProfileModal" class="edit-btn"><img src="../static/img/svg/pen.svg" alt=""></button>
					</div>
				</div>
				
				{% endif %}
				<div class="modal fade" id="updateProfileModal" tabindex="-1" aria-labelledby="updateProfileModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="updateProfileModalLabel">Update Profile Details</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<form method="post">
								{% csrf_token %}
								<div class="modal-body">
									<div class="mb-3">
										<label for="firstName" class="form-label">First Name</label>
										<input type="text" class="form-control" id="firstName" name="first_name" value="{{ request.user.first_name }}">
									</div>
									<div class="mb-3">
										<label for="lastName" class="form-label">Surname</label>
										<input type="text" class="form-control" id="lastName" name="last_name" value="{{ request.user.last_name }}">
									</div>
									<div class="mb-3">
										<label for="phoneNumber" class="form-label">Mobile Number</label>
										<input type="text" class="form-control" id="phoneNumber" name="phone_number" value="{{ request.user.phone_number }}">
									</div>
									<div class="mb-3">
										<label for="address" class="form-label">Address (optional)</label>
										<input type="text" class="form-control" id="address" name="address" value="{{profile.address}}">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Save changes</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div data-profile_category="my-donations" class="info-item profile-donations-container text-center w-100 bd p-4 br-10">
					<div class="flex-column gp-10">
						
						{% for campaign in campaign %}
						<span class="donate-text mac-text-mid">
							{{ campaign.campaign_name }} 
							status: {% if campaign.is_status %}Active{% else %}Inactive{% endif %}
							launch: {% if campaign.is_launch %}Launched{% else %}Not Launched{% endif %}
						</span>
					{% empty %}
						<span class="donate-text mac-text-mid">No campaigns available.</span>
					{% endfor %}
					
					
					

						<a href="#" class="cta-btn mt-3 highlight-span-clr">Donate</a>								
					</div>
				</div>

				<div data-profile_category="my-campaigns" class="info-item profile-donations-container text-center w-100 bd p-4 br-10">
					<div class="flex-column gp-10">
						<span class="donate-text mac-text-mid">You have not made any donations</span>
						<a href="#" class="cta-btn mt-3 highlight-span-clr">Donate</a>								
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}


