@import url("./util-text.css");
@import url("./util-layout.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 4px;
	background-color: hsl(0, 0%, 95%);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary-clr);
	border-radius: 10px;
}

:root {
	--primary-clr: #76b30f;
	--nav-bg-clr: #fffcfc;
	--main-light-clr: #fdfdfd;
	--inter-font: "Inter", serif;
	--montserrat-font: "Montserrat", serif;
	--light-text-clr: #ffffff;
	--light-theme-clr: #ffffff;
	--dark-text-clr: #424040;
	--dark-text-clr-600: hsla(0, 2%, 25%, 0.6);
	--padding-cta: 7px 12px;
	--purple-clr: #9835ef;
	--variant-clr: #65c6e0;
	--custom-easing: linear(
		0,
		0.002,
		0.01 3.6%,
		0.034,
		0.074 9.1%,
		0.128 11.4%,
		0.194 13.4%,
		0.271 15%,
		0.344 16.1%,
		0.544,
		0.66 20.6%,
		0.717 22.4%,
		0.765 24.6%,
		0.808 27.3%,
		0.845 30.4%,
		0.883 35.1%,
		0.916 40.6%,
		0.942 47.2%,
		0.963 55%,
		0.979 64%,
		0.991 74.4%,
		0.998 86.4%,
		1
	);
	--dark-text-clr-2: #525252;
	--bounce-easing: linear(
		0,
		0.004,
		0.016,
		0.035,
		0.063,
		0.098,
		0.141 13.6%,
		0.25,
		0.391,
		0.563,
		0.765,
		1,
		0.891 40.9%,
		0.848,
		0.813,
		0.785,
		0.766,
		0.754,
		0.75,
		0.754,
		0.766,
		0.785,
		0.813,
		0.848,
		0.891 68.2%,
		1 72.7%,
		0.973,
		0.953,
		0.941,
		0.938,
		0.941,
		0.953,
		0.973,
		1,
		0.988,
		0.984,
		0.988,
		1
	);
}

body {
	font-family: var(--inter-font);
	line-height: 1.6 !important;
	/* color: var(--light-text-clr); */
}

body.hide-overflow {
	overflow-y: hidden;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: hsla(0, 0%, 10%, 0.7);
	z-index: 900;
	/* backdrop-filter: blur(12px); */
	display: none;
}

.overlay.visible {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
	color: var(--dark-text-clr);
	margin: 0px 0px 5px;
}

span {
	color: var(--dark-text-clr);
}

a {
	color: black;
	text-decoration: none;
	font-family: var(--montserrat-font);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--montserrat-font);
}

input,
textarea,
select,
button {
	border: none;
	outline: none;
}

input:focus,
textarea:focus,
select:focus {
	border: 1px solid var(--primary-clr);
}

button {
	transition: scale 0.9s ease !important;
	background-color: transparent;
}

button:active {
	scale: 0.8;
}

img {
	max-width: 100%;
	display: inline-block;
}

svg {
	width: 20px;
	height: 20px;
}

ul {
	list-style: none;
	padding-left: 0;
}

.list {
	padding-left: 30px;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	width: 90%;
	padding: 0;
}

.pos-rel {
	position: relative;
}

.cs-pointer {
	cursor: pointer;
}

.d-block {
	display: block;
}

.variant-text-clr {
	color: var(--variant-clr);
}

section {
	padding-bottom: 30px;
}

.w-100 {
	width: 100%;
}

.icon {
	width: 22px;
	height: 22px;
}

/* Navbar */
.navbar {
	background-color: var(--nav-bg-clr);
	height: 100px;
}

nav.sticky-top {
	z-index: 800;
}

nav .pd-nav {
	padding: 0px 60px;
}

.logo-img {
	width: 180px;
	height: 80px;
}

.search-icon {
	width: 25px;
	height: 25px;
}

.start-camp-cta {
	padding: 7px 20px;
	color: var(--primary-clr);
	border: 2px solid;
	border-radius: 50px;
	text-decoration: none;
	transition: background-color 0.3s ease, color 0.3s ease,
		border-color 0.3s ease;
}

.start-camp-cta:hover {
	background-color: var(--primary-clr);
	color: white;
	border-color: transparent;
}

.nav-cta-container {
	gap: 200px;
}

.profile-icon {
	width: 35px;
	height: 35px;
}

.down-arrow {
	width: 20px;
	height: 15px;
}

.hamburger {
	width: 60px;
	height: 50px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.hamburger > span {
	width: 80%;
	height: 3px;
	background-color: #76b30f;
}

/* Navbar */

main {
	background-color: var(--main-light-clr);
}

/* Hero section */

.bg-img-default {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.img-default {
	object-fit: cover;
	object-position: center;
}

.pos-rel {
	position: relative;
}

.hero-section {
	background-image: url("../img/hero-banner-\(1\).jpeg");
	background-color: hsla(0, 0%, 0%, 0.6);
	background-blend-mode: darken;
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-highlight-span {
	position: fixed;
	top: 100px;
	left: 60px;
	background-color: var(--primary-clr);
	color: var(--light-text-clr);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 12px 17px;
	z-index: 500;
}

.welcome-container {
	background-color: hsla(82, 85%, 38%, 0.9);
	padding: 40px;
	width: 750px;
	border-radius: 20px;
}

.welcome-container .page-head {
	color: var(--light-text-clr);
}

.small-text {
	font-size: 1.5rem;
	display: block;
	color: var(--light-text-clr);
}

.smaller-text {
	font-size: 1.2rem;
}

.smallest-text {
	font-size: 0.9rem;
}

.campaign-container {
	padding: 35px 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 40px;
	background-color: #f8f8f8;
	width: fit-content;
	position: absolute;
	bottom: -62px;
	left: 50%;
	transform: translateX(-50%);
	gap: 40px;
	box-shadow: 2px 4px 4px hsla(0, 0%, 0%, 0.251);
}

.campaign-container a {
	padding: 15px 30px;
	border-radius: 50px;
	color: var(--light-text-clr);
	flex: 1;
	min-width: fit-content;
	transition: background-color 0.3s ease;
	font-size: clamp(0.6rem, 0.5vw + 0.5rem, 1rem);
}

.start-campaign {
	background-color: var(--purple-clr);
}

.start-campaign:hover {
	background-color: hsl(272, 85%, 37%);
}

.find-campaign {
	background-color: var(--primary-clr);
}

.find-campaign:hover {
	background-color: hsl(82, 85%, 28%);
}

/* Hero section */

/* Feed needs section */

.feed-needs-section {
	margin-top: 90px;
}

.feed-init-text {
	font-size: 1.8rem;
	color: var(--primary-clr);
	font-weight: 500;
	text-align: center;
}

.feed-init-text span {
	font-weight: 700;
}

.donate-cta,
.cta-btn {
	padding: 12px 30px;
	border-radius: 50px;
	color: var(--purple-clr);
	border: 1px solid var(--primary-clr);
	font-weight: 700;
	display: inline-block;
	background-color: transparent;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.donate-cta:hover,
.cta-btn:hover {
	background-color: var(--primary-clr);
	color: var(--light-text-clr);
}

.desc-feature-container {
	display: grid;
	grid-template-areas: "desc-item campaign";
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 470px auto 400px;
}

.feature-desc-item {
	grid-area: desc-item;
	text-align: center;
}

.feature-desc-item.sec {
	grid-row: 2 / -1;
}

.feature-desc-item .mac-text-large {
	width: 90%;
	margin-inline: auto;
}

.feature-desc-container > a {
	text-decoration: none;
	color: rgb(1, 1, 29);
}

.feature-desc-container .page-sub-h5-head {
	text-transform: capitalize;
	margin-top: 10px;
}

/* .feature-campaign-container {
  grid-area: campaign;
  grid-row: 1 / -1;
} */

.feature-campaign-item-container {
	background-color: var(--light-theme-clr);
	padding: 30px 40px;
	border-radius: 40px;
	box-shadow: 2px 4px 6px 0px #a19b9b;
	grid-area: campaign;
	grid-row: 1 / -1;
}

.feature-campaign-item-container .head-div {
	padding: 10px 0px;
	border-bottom: 1px solid black;
	text-align: center;
}

.feature-item,
.feature-desc-item {
	padding-top: 20px;
}

.feature-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.feature-img-container {
	background-color: hsl(0, 0%, 70%);
	width: 320px;
	height: 120px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.location-container {
	position: relative;
}

.location-container::after {
	content: "";
	position: absolute;
	right: -6px;
	top: 0;
	width: 2px;
	height: 100%;
	background-color: hsla(0, 0%, 10%, 0.1);
}

.location-val-container {
	position: relative;
	padding-bottom: 5px;
}

.percent-progress {
	height: 7px;
	width: 100%;
	background-color: hsla(0, 0%, 10%, 0.1);
	border-radius: 5px;
	overflow: hidden;
}

.percent-progress-bar {
	background-color: var(--primary-clr);
	width: 0%;
	height: 100%;
	border-radius: inherit;
	transition: width 0.5s ease 0.5s;
}

.highlight-span-clr {
	color: var(--primary-clr);
}

.location-icon {
	width: 30px;
	height: 30px;
}

.donation-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.donation-container .mac-text-sm {
	margin-bottom: 0px;
}

.donation-time {
	font-weight: 400;
}
/* Feed needs section */

.discover-item {
	padding-top: 50px;
}

.discover-item:nth-of-type(1) {
	padding-top: 30px;
}

.discover.cta-btn {
	color: black;
	font-size: 1.2rem;
}

.discover.cta-btn:hover {
	color: var(--light-text-clr);
}

.discover-item-icon svg,
.discover-item-icon img {
	width: 45px;
	height: 45px;
}

.long-arrow svg {
	width: 24px;
	height: 586px;
	position: absolute;
	left: 40px;
	top: 0;
}

.donation-items-container {
	gap: 60px;
	justify-content: center;
}

.donation-item {
	text-align: center;
	min-width: 300px;
	width: 45%;
}

.donation-item .graphics {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.donation-item .mac-text-sm {
	max-width: 350px;
	margin: 5px auto 0px;
	font-size: 1.3rem;
}

.donation-item .item-icon img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.newsletter-input {
	border: 1px solid #b1b1b1;
	border-radius: 50px;
	box-shadow: 0px 4px 5px 0px #525252a6;
	width: 80%;
	padding: 5px 14px;
}

.subscribe-cta {
	background-color: var(--purple-clr);
	color: var(--light-text-clr);
	padding: 7px 12px;
	border-radius: 50px;
	display: inline-block;
	margin-top: 20px;
	font-weight: 500;
}

footer {
	background-color: #e5e8e4;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 70px 40px 30px;
}

footer .footer-links {
	color: black;
	text-decoration: none;
}



footer .campaign-container {
	top: -62px;
	bottom: auto;
	right: 40px;
	left: auto;
	transform: translateX(0);
}

.footer-links-container {
	width: 85%;
}

.footer-links-container.grid {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer-bottom-wrapper {
	height: 100%;
	display: flex;
	align-items: flex-end;
}

.footer-bottom-link-container.flex-wrap {
	justify-content: space-between;
}

.dash {
	border: 1px solid black;
	height: 45px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -10px;
}

.footer-bottom-link {
	font-size: 1.3rem;
	font-weight: 500;
	text-decoration: underline;
	color: var(--dark-text-clr);
}

.social-media-container {
	gap: 25px;
}

.light-bg-clr {
	background-color: var(--light-theme-clr);
}

.copyright-text {
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 0px;
}

/* Login Page */

/* .login.page{
  background-color: var(--light-clr);
} */

.acct.page .nav-util-cta-container {
	margin-left: auto;
	margin-right: 40px;
}

nav.bos {
	box-shadow: 0px 4px 40px 10px #42404040;
}

.acct.page .page-highlight-span,
.campaign.page .page-highlight-span,
.profile.page .page-highlight-span {
	position: fixed;
	top: 100px;
}

.acct.page main {
	padding: 80px 15px 10px;
	text-align: center;
}

main.pd-down {
	padding: 80px 60px 40px;
}

.acct-desc,
.return-desc {
	max-width: 900px;
	width: 90%;
	margin: 20px auto 0px;
	font-weight: 600;
}

.return-desc {
	max-width: 600px;
}

.acct-form-container {
	box-shadow: 0px 3px 10px 0px #42404040;
	margin: 60px auto 10px;
	padding: 20px 12px;
	border-radius: 10px;
	max-width: 650px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}

.acct-form-container.reset {
	box-shadow: none;
	margin-top: 12px;
}

.acct-form-container.success {
	border: 1px solid var(--dark-text-clr);
	min-height: auto;
	align-items: center;
	margin-top: 60px;
	text-align: center;
}

.acct-input,
.acct-select,
.acct-text-area {
	padding: 10px 15px;
	border: 1px solid var(--dark-text-clr);
	border-radius: 20px;
	width: 100%;
	margin: 0 auto;
	display: block;
	font-size: 1.1rem;
}

.acct-text-area {
	resize: none;
	height: 50px;
}

.acct-select {
	font-size: 1.2rem;
	position: relative;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url("../img/svg/down-arrow-gray.svg") no-repeat right 15px center;
	background-size: 20px;
}

.acct-input.large,
.acct-text-area.large,
.control-large {
	grid-column: 1/-1;
}

.start-campaign-item .acct-input,
.start-campaign-item .acct-select {
	padding: 10px 15px;
	/* width : 100%; */
}

.forgot-pass-cta {
	font-weight: 600;
	display: block;
	margin-left: auto;
	width: fit-content;
	margin-top: 20px;
}

.cta-btn.submit-btn {
	color: var(--primary-clr);
	background-color: var(--light-text-clr);
	margin-top: 30px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-btn.submit-btn:hover {
	color: var(--light-text-clr);
	background-color: var(--primary-clr);
}

.cta-btn.submit-btn.reset {
	margin-top: 5px;
}

.acct-form {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
	align-items: start;
	gap: 20px;
}

.signup.acct.page .acct-form-container {
	max-width: 750px;
}

.signup.acct-form .acct-input {
	border-radius: 15px;
	padding: 10px 12px;
}

.terms-label {
	color: black;
	font-style: italic;
	font-size: 1.3rem;
	font-family: var(--montserrat-font);
	font-weight: 500;
	position: relative;
	padding-left: 40px;
	text-align: left;
	cursor: pointer;
}

.terms-label input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.terms-label input ~ .terms-checkmark {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid black;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s ease;
}

.dropdown-item .terms-label input ~ .terms-checkmark {
	width: 22px;
	height: 22px;
	border-radius: 5px;
}

.terms-checkmark::after {
	content: "";
	position: absolute;
	/* top: 7px;
	left: 7px; */
	width: 14px;
	height: 14px;
	border-radius: inherit;
	/* transform: translate(-50%, -50%); */
	background-color: var(--light-theme-clr);
	transform: scale(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.dropdown-item .terms-checkmark::after,
.emergency-cta-div .terms-checkmark::after {
	background-color: transparent;
	border: 2px solid var(--light-theme-clr);
	border-top-color: transparent;
	border-right-color: transparent;
	transform: rotate(-45deg);
	height: 9px;
	border-radius: unset;
	top: 3px;
	left: 5px;
	width: 11px;
}

.terms-label input:checked ~ .terms-checkmark {
	background-color: black;
}

.terms-label input:checked ~ .terms-checkmark::after {
	transform: scale(1);
}

.require-div {
	border-top: 1px solid black;
	padding: 10px 20px;
	width: 90%;
	margin: 0 auto;
}

.search-util-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	margin-top: 40px;
}

.search-bar {
	--_radius: 50px;
	border: 1px solid black;
	border-radius: var(--_radius);
	/* padding-left: 20px; */
	width: 80%;
	position: relative;
	height: 50px;
	flex: 2 1 50%;
	min-width: 300px;
}

input.search-input {
	border-radius: var(--_radius);
	border-color: transparent;
	padding: 0px 75px 0px 20px;
	outline: none;
	width: 85%;
}

.search-input:focus {
	outline: none;
}

.search-btn {
	padding: 0px 25px;
	border-radius: var(--_radius);
	border: 2px solid var(--purple-clr);
	font-size: 1.2rem;
	color: var(--primary-clr);
	font-weight: 500;
	align-self: stretch;
	background-color: transparent;
	position: absolute;
	top: -1px;
	right: -1px;
	height: 105%;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.search-btn:hover {
	background-color: var(--purple-clr);
	color: var(--light-text-clr);
}

.select-wrapper {
	flex: 1 1 22%;
	/* max-width: 300px; */
	position: relative;
}

.select-head {
	padding: 12px 15px;
	border: 1px solid black;
	border-radius: 10px;
	cursor: pointer;
	min-width: 220px;
}

.find-campaign-items-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

.find-campaign-item {
	/* width : calc(33% - 1rem); */
}

.find-campaign-item .feature-img {
	width: 100%;
	height: 200px;
	/* margin-bottom: 10px; */
}

.location-container::after {
	display: none;
}

.category-highlight {
	padding: 15px 35px;
	border-radius: 30px;
	background-color: var(--primary-clr);
	color: var(--light-text-clr);
	display: block;
	width: fit-content;
	margin-top: 30px;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 1px;
}

.select-dropdown {
	background-color: var(--light-theme-clr);
	box-shadow: 0px 4px 10px 2px #00000040;
	border: 1px solid #b1b1b1;
	border-radius: 15px;
	/* min-width: 350px; */
	padding: 20px 15px;
	position: absolute;
	left: 0;
	top: 110%;
	width: fit-content;
	display: none;
	z-index: 600;
}

/* .search-util-wrapper .select-dropdown {
	left: 55%;
	transform: translateX(-65%);
} */

.select-dropdown.scaleup {
	animation: scale-up 0.8s var(--bounce-easing);
}

.select-dropdown.scaleup-remove {
	animation: scale-down-anim 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.profile-page-img {
	width: 200px;
	height: 200px;
}

.profile-camera-icon {
	position: absolute;
	bottom: -3px;
	right: 15px;
	background-color: var(--purple-clr);
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
}

.profile-camera-icon img {
	width: 25px;
	height: 25px;
}

.profile-camera-icon input[type="file"] {
	position: absolute;
	inset: 0;
	opacity: 0;
	/* visibility: hidden; */
	cursor: pointer;
}

.profile-main-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-util-container {
	width: 40%;
}

.profile-util-item {
	width: 100%;
}

.profile-util-item-head {
	padding: 12px 20px;
	box-shadow: 0px 4px 15px 0px #00000040;
	display: flex;
	gap: 20px;
	align-items: center;
	border-radius: 10px;
	min-width: 300px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.profile-util-item-head::after {
	content: "";
	position: absolute;
	right: 0;
	width: 15px;
	height: 100%;
	background-color: var(--primary-clr);
	display: none;
}

.profile-util-item-head.campaign::after {
	background-color: var(--purple-clr);
}

.profile-util-item-head.active::after {
	display: block;
}

.profile-util-item-head .icon {
	width: 35px;
	height: 35px;
}

.profile-util-item-head .mac-text-mid {
	font-weight: 600;
}

.profile-info-wrapper {
	width: 55%;
}

.donate-text {
	color: var(--purple-clr);
}

.profile-donations-container .cta-btn,
.profile-campaigns-container .cta-btn {
	/* background-color: transparent; */
	font-size: 1.2rem;
}

.profile-info-wrapper .info-item {
	display: none;
	padding-left: 12px;
	padding-right: 12px;
}

.profile-info-wrapper .info-item:nth-of-type(1) {
	display: block;
}

.hide {
	display: none !important;
}

.reveal {
	display: block !important;
}

.edit-cta-container {
	padding: 12px 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

.edit-text {
	color: hsl(0, 0%, 40%);
	font-size: 1rem;
}

.edit-btn {
	border: none;
	background-color: transparent;
}

.edit-btn img {
	width: 35px;
	height: 35px;
}

.start-campaign-item .require-div {
	padding-left: 0px;
	width: 97%;
}

.headline-text {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--dark-text-clr-600);
}

.start-campaign-list li {
	font-family: var(--montserrat-font);
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--dark-text-clr-600);
}

@keyframes scale-up {
	0% {
		scale: 0.5;
		opacity: 0;
	}

	100% {
		scale: 1;
		opacity: 1;
	}
}

@keyframes scale-down-anim {
	0% {
		scale: 1;
		opacity: 1;
	}

	100% {
		scale: 0.6;
		opacity: 0;
	}
}

.select-dropdown .terms-label {
	font-style: normal;
	padding-left: 40px;
	font-weight: 400;
	font-size: 1rem;
}

.dropdown-item {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.profile-details-container.mobile {
	display: none;
}

.profile-donations-container.mobile,
.profile-campaigns-container.mobile {
	display: none;
	margin-top: 20px;
	padding: 0 !important;
	border-color: transparent;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
}

.profile-donations-container.mobile.slide-down,
.profile-campaigns-container.mobile.slide-down {
	max-height: var(--dropdown-height);
	height: auto;
	border-color: rgba(0, 0, 0, 0.6);
	padding: 15px 15px 10px !important;
	overflow: auto;
}

.start-campaign-item {
	box-shadow: 0px 4px 15px 5px #00000040;
	padding: 30px 35px;
	border: 1px solid #b1b1b1;
	border-radius: 20px;
}

.upload-div label {
	color: var(--dark-text-clr);
}

.upload-input {
	position: absolute;
	inset: 0;
	opacity: 0;
	width: 100%;
	/* z-index: -1; */
}

.start-campaign-btn-container {
	display: flex;
	flex-direction: column;
	width: 55%;
	margin: 20px auto 0px;
	padding: 20px 20px 30px;
	border-bottom: 1px solid black;
}

.launch.start-campaign-btn-container {
	border-bottom: none;
}

.secondary-cta-btn {
	padding: 20px 30px;
	background-color: transparent;
	color: var(--purple-clr);
	border: 2px solid var(--purple-clr);
	border-radius: 40px;
	font-weight: 500;
	transition: background-color 0.5s ease, background-color 0.5s ease;
	/* width: 100%; */
}

.secondary-cta-btn:hover {
	background-color: var(--purple-clr);
	color: var(--light-text-clr);
}

.start-campaign-btn-container .secondary-cta-btn {
	font-size: 1.3rem;
	font-weight: 600;
	padding: 20px 10px;
	width: 100%;
}

.launch.start-campaign-btn-container .secondary-cta-btn {
	border-color: var(--primary-clr);
	color: var(--primary-clr);
}

.launch.start-campaign-btn-container .secondary-cta-btn:hover {
	background-color: var(--primary-clr);
	color: var(--light-text-clr);
}

/*
.terms-label input:checked ~ .terms-checkmark::after{
	content: "";
	position: absolute;
	top : 50%;
	left : 50%;
	transform: translate(-50%, -50%);
	background-color: var(--light-theme-clr);
	
} */

@media (max-width: 950px) {
	.acct.page .page-head {
		font-size: 2.8rem;
	}

	.acct-desc,
	.return-desc {
		font-size: 1.3rem;
	}

	.acct.page .page-highlight-span,
	.campaign.page .page-highlight-span {
		left: 20px;
	}

	main.pd-down {
		padding: 80px 20px 10px;
	}

	.profile-util-container {
		width: 100%;
	}

	.profile-info-wrapper {
		display: none;
	}

	.profile-util-item.my-profile {
		display: none;
	}

	.profile-details-container.mobile {
		display: block;
	}

	.profile-donations-container.mobile,
	.profile-campaigns-container.mobile {
		display: block;
	}

	.start-campaign-item .require-div.w-50 {
		text-align: center;
		width: 100% !important;
	}
}

@media (max-width: 700px) {
	.find-campaign-items-container {
		grid-template-columns: 1fr;
	}

	.find-campaign-item {
		display: flex;
		gap: 20px;
	}

	.find-campaign-item .find_campaign-item-link {
		width: 50%;
	}
}

@media (max-width: 650px) {
	.acct-form {
		grid-template-columns: 1fr;
	}

	.terms-p {
		text-align: left;
		width: 95%;
		margin-left: auto;
	}

	.start-campaign-btn-container {
		width: 90%;
	}

	.start-campaign-btn-container .secondary-cta-btn {
		font-size: 1.1rem;
	}
}

@media (max-width: 550px) {
	.acct.page main {
		text-align: left;
	}

	.acct.page .page-head {
		font-size: 2.2rem;
	}

	.acct-desc,
	.return-desc {
		max-width: none;
		width: 100%;
	}

	.tooltip-box {
		right: -50px;
		top: 130%;
	}

	.find-campaign-item {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.find-campaign-item .feature-img {
		width: 100%;
	}

	.start-campaign-list li {
		font-size: 1rem;
	}

	.find-campaign-item .find_campaign-item-link {
		width: 100%;
	}
}

/* Login Page */

.mobile-nav {
	background-color: white;
	padding: 90px 20px 20px;
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	min-width: 320px;
	overflow-y: auto;
	z-index: 999;
	transform: translateX(100%);
	transition: transform 0.5s ease;
}

.mobile-nav.slideIn {
	transform: translateX(0);
}

.mobile-nav-links-container {
	padding-left: 0;
}

.mobile-nav-links-container.flex-column {
	align-items: start;
}

.login-cta {
	padding: 10px 20px;
	border-radius: 10px;
	border: 3px solid var(--primary-clr);
	color: var(--primary-clr);
	transition: background-color 0.3s ease, color 0.3s ease;
	font-size: 1.2rem;
	font-weight: 600;
}

.login-cta:hover {
	background-color: var(--primary-clr);
	color: var(--light-text-clr);
}

.cancel-icon {
	cursor: pointer;
}

.cancel-icon svg {
	width: 40px;
	height: 40px;
}

.mobile-nav-link {
	font-weight: 600;
	font-size: 1.6rem;
	color: var(--primary-clr);
	text-decoration: none;
}

.emergency-cta-div .terms-label {
	color: var(--primary-clr);
}

.emergency-cta-div .terms-label input ~ .terms-checkmark {
	width: 30px;
	height: 30px;
	border: 2px solid var(--primary-clr);
	border-radius: 5px;
}

.emergency-cta-div .terms-checkmark::after {
	top: 5px;
	left: 7px;
	width: 13px;
	height: 10px;
	rotate: -45deg;
}

.emergency-cta-div .terms-label input:checked ~ .terms-checkmark {
	background-color: var(--primary-clr);
}

.details-wrapper {
	font-family: var(--montserrat-font);
}

.details-hero-section .flex-item {
	width: 50%;
}

.details-title-container {
	padding: 0px 30px 10px 0px;
	border-bottom: 1px solid black;
}

.details-title-text {
	font-size: 2.8rem;
	font-weight: 700;
}

.details.smaller-text {
	color: var(--dark-text-clr);
	display: block;
}

.util-box-container {
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
	padding: 30px 15px;
	border-radius: 12px;
}

.donation-price-head-text {
}

.details-donation-cta-section .percent-bar {
	border-radius: 50px;
	background-color: hsl(0, 0%, 80%);
	height: 20px;
	overflow: hidden;
}

.details-donation-cta-section .percent-val {
	height: 100%;
	width: 11%;
	background-color: var(--purple-clr);
	color: var(--light-text-clr);
	border-radius: inherit;
}

.donation-price-text {
	font-size: 1.3rem;
	font-weight: 500;
}

.donate-btn {
	background-color: var(--purple-clr);
	border-radius: 50px;
	padding: 12px 35px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.donate-btn .text {
	color: var(--light-text-clr);
}

.donate-btn .icon img {
	width: 20px;
	height: 20px;
}

.share-btn {
	background-color: transparent;
}

.share-btn .text {
	color: var(--variant-clr);
	font-size: 1.3rem;
	font-weight: 500;
}

.share-btn .icon svg path {
	stroke: var(--variant-clr);
}

.donors-details-container {
	border-top: 1px solid hsl(0, 0%, 88%);
	padding-top: 5px;
}

.donor-item.unique h5 {
	color: var(--variant-clr);
	font-size: 1.4rem;
	font-weight: 600;
}

.donor-item.offline h5 {
	color: var(--dark-text-clr-2);
	font-size: 1.4rem;
	font-weight: 600;
}

.details.graphics-div .img-container {
	border-radius: 15px;
	overflow: hidden;
	height: 400px;
}

.details-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.details-location-container .icon svg,
.details-manage-container .icon svg {
	width: 40px;
	height: 40px;
}

.details-location-container .icon svg path {
	stroke: var(--variant-clr);
}

.about-campaign.profile-img {
	width: 60px;
	height: 60px;
}

.about-campaign.title-span {
	background-color: var(--primary-clr);
	color: var(--light-text-clr);
	padding: 3px 10px;
	border-radius: 5px;
}

.about-campaign.details-title-text {
	font-size: 2rem;
}

.category-btn {
	--_clr: hsl(0, 0%, 10%);
	padding: 4px 40px;
	border: 2px solid var(--_clr);
	color: var(--_clr);
	border-radius: 50px;
	font-size: 0.9rem;
	font-weight: 500;
	background-color: transparent;
}

.category-btn.active {
	background-color: var(--_clr);
	color: var(--light-text-clr);
}

.user-donation-item {
	padding: 10px 0px;
	border-bottom: 1px solid hsl(0, 0%, 70%);
}

.user-donation-item:last-of-type {
	border-bottom: 1px solid transparent;
}

.user-donation-item .details-container {
	width: 80%;
}

.user-donation-item .donation-icon {
	width: 20px;
	height: 20px;
}

.view-more-text {
	color: var(--variant-clr);
	font-weight: 600;
	font-size: 1.2rem;
	display: block;
	width: fit-content;
	margin: 0 auto;
}

.view-more-btn {
	background-color: var(--primary-clr);
	color: white;
	font-weight: 500;
	font-size: 1.2rem;
	padding: 7px 35px;
	display: block;
	width: fit-content;
	margin: 20px auto 0;
	border-radius: 4px;
	transition: border-radius 0.5s ease;
}

@media (min-width: 951px) {
	.profile-util-item .view-more-btn {
		display: none !important;
	}
}

.view-more-btn:hover {
	border-radius: 10px;
}

.small-circle {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: var(--primary-clr);
	margin: 0 auto 10px;
}

.support-text {
	color: var(--variant-clr);
	font-weight: 700;
}

.make-donation-container {
	width: 80%;
	margin: 0 auto;
}

.feed-payout.page {
	background-color: hsl(0, 0%, 95%);
}

.feed-payout.page ~ footer{
	margin-top: 0!important;
}

.feed-payout.page p,
.feed-payout.page span {
	font-family: var(--inter-font);
}

.feed-payout-main {
	background-color: hsl(0, 0%, 95%);
}

.feed-payout-main.pd-down {
	padding-bottom: 50px;
}

.support-content-container {
	font-family: var(--montserrat-font);
}

.feed-payout-category-cta {
	display: flex;
	align-items: stretch;
	justify-content: center;
	border-bottom: 1px solid hsl(0, 0%, 80%);
	flex: 1;
	padding: 10px 12px;
	cursor: pointer;
	min-width: fit-content;
}

.feed-payout-category-cta span {
	font-weight: 600;
}

.feed-payout-category-cta.active {
	border: 1px solid hsl(0, 0%, 80%);
	border-bottom: 1px solid transparent;
	background-color: var(--light-theme-clr);
}

.feed-payout-category-cta.active span {
	color: var(--primary-clr);
}

/* .content-cta-container {
	width: 25%;
} */

.content-cta-container .btn {
	border: 1px solid var(--primary-clr);
	color: var(--primary-clr);
	padding: 12px 0px;
	width: 90%;
	font-weight: 500;
	font-size: 0.9rem;
	border-radius: 50px;
}

.content-cta-container .btn.active {
	background-color: var(--primary-clr);
	color: var(--light-text-clr);
}

/* .content-container-wrapper {
	width: 70%;
} */

.content-container ol {
	list-style-type: decimal;
}

.content-container ul {
	padding-left: 2rem;
	list-style-type: disc;
}

.link-hv-line:hover {
	text-decoration: underline;
}

.form-el {
	background-color: transparent;
	border: 1px solid hsl(0, 0%, 40%);
	width: 100%;
	padding: 5px 12px;
}

.input-name {
	color: hsl(0, 0%, 50%);
	align-self: flex-start;
	margin-top: 5px;
	/* text-align: left; */
}

.existing-cta-div {
	display: none;
}

.existing-cta-div.show {
	display: flex !important;
}

.upload-control-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px 15px;
	background-color: var(--light-theme-clr);
	outline: 1px dashed hsl(0, 0%, 60%);
	border-radius: 5px;
	position: relative;
}

.upload-control-label:hover {
	outline: 2px dashed hsl(0, 0%, 60%);
}

.upload-icon {
	width: 50px;
	height: 50px;
	background-color: hsl(0, 0%, 80%);
	border-radius: 50%;
}

.upload-icon svg {
	width: 25px;
	height: 25px;
}

.upload-control-input {
	/* width : 0;
	height : 0;
	visibility: hidden;
	padding: 0; */
	position: absolute;
	inset: 0;
	opacity: 0;
	/* display: none; */
}

.upload-control-input::-webkit-file-upload-button {
	display: none;
}

.support-tab {
	display: none;
}

.feed-payout-category {
	display: none;
}

.show {
	display: block !important;
}

ul.list {
	list-style-type: disc;
}

.make-donation-cta-black {
	padding: var(--padding-cta);
	border-radius: 50px;
	border: 2px solid hsl(0, 0%, 80%);
	font-weight: 500;
}

.make-donation-cta-black.active {
	border-color: hsl(0, 0%, 10%);
}

.make-donation-cta-primary {
	padding: var(--padding-cta);
	border-radius: 50px;
	border: 2px solid var(--primary-clr);
	color: var(--primary-clr);
	font-weight: 500;
}

.make-donation-cta-primary:hover,
.make-donation-cta-primary.active {
	background-color: var(--primary-clr);
	color: var(--light-text-clr);
}

.make-donation-cta-primary:hover .curr-span,
.make-donation-cta-primary.active .curr-span {
	color: var(--light-text-clr);
}

.make-donation-cta-primary:hover .text,
.make-donation-cta-primary.active .text {
	color: var(--light-text-clr);
}

.box-sh {
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 12px;
}

.donation-amount-input {
	padding: 7px 10px 7px 15px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	/* flex: 1; */
	width: 80%;
}

.curr-container {
	flex: 1;
	min-width: fit-content;
}

.curr-container .dropdown-util-btn {
	height: 100%;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-left: transparent;
	border-radius: 0px;

	/* width: 20% */
}

.curr-container .dropdown-util-btn:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.curr-container .dropdown-util-btn:active {
	border-color: transparent !important;
	background-color: rgba(0, 0, 0, 0.2) !important;
}

.curr-container .dropdown-util-btn::after {
	content: "";
	display: inline-block;
	border-top: 0.3rem solid;
	border-right: 0.3rem solid transparent;
	border-left: 0.3rem solid transparent;
	margin-left: 5px;
	vertical-align: 0.12rem;
}

.dropdown-util {
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--light-theme-clr);
	min-width: 150px;
	display: none;
}

.dropdown-util-item {
	padding: 5px 7px;
	display: block;
	font-weight: 500;
	cursor: pointer;
	color: hsl(0, 0%, 25%);
}

.curr-container .dropdown-util-item:hover {
	background-color: var(--primary-clr);
	color: var(--light-text-clr);
	user-select: none;
}

.recurring-select-container {
	display: none !important;
}

.recurring-select-container.show {
	display: flex !important;
}

.recurring-select {
	border-color: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	padding: 10px 12px;
	width: 100%;
	font-size: 1.2rem;
	font-weight: 500;
	outline: none;
}

.tip-icon {
	width: 14px;
	height: 14px;
	margin-bottom: 0.2rem;
	margin-left: 0.3rem;
}

.slider-container {
	position: relative;
	--_child-height: 7px;
	width: 100%;
	height: var(--_child-height);
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.slider-bar {
	width: 0;
	height: 100%;
	background-color: var(--primary-clr);
	border-radius: 5px;
}

.slider-handle {
	width: 20px;
	height: 20px;
	background-color: var(--primary-clr);
	border-radius: 50%;
	position: absolute;
	top: -5px;
	transform: translateX(-50%);
	cursor: pointer;
	z-index: 50;
}

.slider-marks {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	/* pointer-events: none; */
}

.slider-mark {
	background-color: var(--light-theme-clr);
	width: 2px;
	height: var(--_child-height);
	transform: translateY(-50%);
	/* pointer-events: auto; */
	cursor: pointer;
}

.donate-bar-calculation-container {
	box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.3);
	width: fit-content;
	min-width: 80px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -40px;
	transform: translate(-50%);
	background-color: var(--light-theme-clr);
	border-radius: 10px;
	padding: 5px 6px;
}

.switch {
	width: 60px;
	height: 28px;
	position: relative;
}

.switch-input {
	width: 0;
	height: 0;
	opacity: 0;
}

.slider {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 50px;
	transition: background-color 0.3s ease;
}

.slider::after {
	content: "";
	position: absolute;
	height: 24px;
	width: 24px;
	background-color: var(--light-theme-clr);
	border-radius: 50%;
	left: 2px;
	bottom: 2px;
	transition: transform 0.3s ease;
}

.switch-input:checked + .slider {
	background-color: var(--primary-clr);
}

.switch-input:checked + .slider::after {
	transform: translateX(32px);
}

.form-br-el {
	padding: 7px 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.08);
}

.tooltip-trigger {
	position: relative;
}

.tooltip-img {
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.tooltip-box {
	position: absolute;
	top: 100%;
	background-color: var(--primary-clr);
	min-width: 250px;
	padding: 10px;
	border-radius: 10px;
	display: none;
}

.tooltip-box p {
	color: var(--light-text-clr);
	font-weight: 500;
}

.tooltip-trigger:hover .tooltip-box {
	display: block;
}

.profile-cta-container {
	cursor: pointer;
	height: 40px;
	width: 80px;
}

.profile-dropdown {
	position: absolute;
	top: 100%;
	display: none;
	left: 0%;
	border-radius: 5px;
	min-width: 150px;
	/* transform: translate(-50%); */
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: var(--light-theme-clr);
	z-index: 50;
}

.profile-cta-container:hover .profile-dropdown {
	display: inline-block;
}

.profile-dropdown li {
	padding: 7px 10px;
}

.profile-dropdown li:hover {
	background-color: hsl(0, 0%, 88%);
}

.br-b {
	border-bottom: 1px solid black;
}

.payment-link {
	padding: 7px 0px;
	/* width : 80%;
	margin : 0 auto; */
	border-radius: 10px;
	transition: 0.3s;
}

.payment-link.pp {
	background-color: rgb(235, 235, 105);
}

.payment-link.sp {
	background-color: hsl(226, 95%, 16%);
}

.payment-link.sp:hover {
	background-color: hsl(226, 95%, 26%);
}

.payment-link img {
	width: 200px;
	height: 85px;
}

.payment-link.pp img {
	width: 250px;
	/* height : 80px; */
}

.payment-link.pp:hover {
	background-color: hsl(57.46deg 76.47% 65%);
}

.error-message {
    color: rgb(128, 3, 3);
    display: none;
    font-weight: 500;
    /* position: absolute; */
    width: fit-content;
    border-radius: 5px;
    padding: 7px 12px;
    margin-top: 10px;
    align-self: flex-start;
    text-align: left;
    background-color: #dda2a2;
	margin-bottom : 4px;
}

.file-info {
	display: none;
	margin-top: 5px;
	/* position: absolute; */
}

.file-info p {
	margin-bottom: 0;
	font-size: 1.2rem;
}

.filePreview {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.log-icon {
	width: 20px;
	height: 20px;
}

.danger-clr {
	color: red;
}

.my-campaign-username {
	width: 30%;
}

.my-campaign-username span {
	font-size: 6rem;
	font-weight: 700;
	color: hsl(0, 0%, 99%);
	background-color: hsl(0, 0%, 85%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.my-campaign-userinfo-content {
	width: 65%;
}

.my-campaigns-user-info {
	padding: 10px 0px;
	border-top: 1px solid hsl(0, 0%, 60%);
}

.my-campaigns-user-info:last-of-type {
	border-bottom: 1px solid hsl(0, 0%, 60%);
}

.drop-down-circle {
	width: 40px;
	height: 40px;
	border: 2px solid var(--primary-clr);
	border-radius: 50%;
	cursor: pointer;
}

.drop-down-circle svg {
	transform: rotate(0deg);
	transition: transform 0.3s ease;
}

.drop-down-circle.active svg {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}

.drop-down-cta {
	display: grid;
	/* gap : 12px; */
	grid-template-columns: 20% 20% auto;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
}

.drop-down-cta.show {
	display: grid !important;
	padding: 10px 0px;
	border-top: 1px solid hsl(0, 0%, 60%);
	max-height: var(--dropdown-height);
	transition: max-height 0.3s ease;
	overflow: auto;
}

.drop-down-cta.show::-webkit-scrollbar {
	width: 4px;
	background-color: hsl(0, 0%, 95%);
}

.drop-down-cta.show::-webkit-scrollbar-thumb {
	background-color: var(--primary-clr);
	border-radius: 10px;
}

.drop-down-cta-item {
	padding: 0px 15px;
	border-right: 1px solid hsl(0, 0%, 60%);
}

.drop-down-cta-item:last-of-type {
	border-right: none;
}

.m-campaign {
	padding: 7px 9px;
	border: 2px solid var(--variant-clr);
	border-radius: 50px;
	color: var(--primary-clr);
	font-size: 0.8rem;
	font-weight: 600;
	text-decoration: none;
	transition: transform 0.5s var(--bounce-easing);
}

.m-campaign:hover {
	transform: translateY(4px);
}

.toastify {
	padding: 0px;
	color: #fff;
	display: inline-block;
	box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
		0 10px 36px -4px rgba(77, 96, 232, 0.3);
	/* background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
    background: linear-gradient(135deg, #73a5ff, #5477f5); */
	position: fixed;
	/* opacity: 0; */
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	border-radius: 2px;
	cursor: pointer;
	text-decoration: none;
	max-width: calc(50% - 20px);
	z-index: 2147483647;
	right: -100% !important;
	animation: bounce-right 1s var(--bounce-easing);
	transition: right 1s var(--bounce-easing);
}

@keyframes bounce-right {
	from {
		right: -100%;
	}

	to {
		right: 15px;
	}
}

.toast-close {
	position: absolute;
	top: -1px;
	right: 0px;
}

.toastify.on {
	/* opacity: 1; */
	right: 15px !important;
	transition: right 1s var(--bounce-easing);
}

.toastify-right {
	right: 15px;
}

.custom-toast {
	display: flex;
	gap: 15px;
	align-items: center;
	overflow: hidden;
	position: relative;
	padding: 15px 23px 15px 15px;
}

.custom-toast img {
	width: 22px;
	height: 22px;
}

.custom-toast .message {
	color: black;
	font-family: var(--montserrat-font);
}

.custom-toast::after {
	content: "";
	position: absolute;
	bottom: 0px;
	right: 0;
	background-color: var(--toast-clr);
	width: 0%;
	height: 5px;
	border-radius: 5px;
	animation: moveWidth 5s ease;
}

.custom-toast:hover::after {
	animation-play-state: paused;
}

.hidden {
	display: none;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.popup.show {
	display: flex !important;
}

.popup-content {
	background: white;
	padding: 20px;
	border-radius: 7px;
	max-height: 90%;
	overflow-y: auto;
	width: 95%;
    max-width: 700px;
}

#close-popup {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	font-size: 3.125rem;
	color: white;
}

.search-func-div {
	display: none;
	position: fixed;
	top: 110px;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	max-width: 800px;
}

.search-bar-util-search {
	border-top-color: transparent;
	border-radius: 5px;
	display: flex;
	align-items: center;
	/* gap: 10px; */
	padding: 7px 15px;
	background-color: var(--light-theme-clr);
	justify-content: space-between;
	max-height: 0;
	padding: 0px 15px;
	overflow: hidden;
	height: 50px;
	transition: max-height 0.5s ease;
	box-shadow: 5px 5px 15px 0px hsla(0, 0%, 0%, 0.2);
}

.search-bar-util-search.active {
	max-height: 50px;
}

.search-bar-util-search input {
	width: 95%;
}

.search-bar-util-search input:focus {
	outline: none;
	border: none;
}

.keyword-search-results {
	background-color: white;
	border-radius: 5px;
}

.keyword-item {
	padding: 5px 12px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.keyword-item:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.keyword-item:hover span {
	color: white;
}

.highlight {
	background-color: yellow;
	padding: 2px;
	font-weight: bold;
	color: white;
}

footer.util-pg-2{
	padding-top: 30px;
}

@keyframes moveWidth {
	from {
		width: 100%;
	}
	to {
		width: 0%;
	}
}

@media (max-width: 1300px) {
	.feature-desc-item {
		text-align: left;
	}

	.desc-feature-container {
		grid-template-columns: none;
		grid-template-areas: none;
		grid-template-rows: none;
		display: block;
	}

	.feature-desc-item,
	.feature-campaign-item-container {
		grid-area: none;
		grid-column: none;
		grid-row: none;
	}

	.feature-campaign-item-container {
		margin: 30px 0px;
	}

	.feature-desc-item.sec {
		grid-row: none;
	}

	.feature-desc-item .mac-text-large {
		margin-inline: unset;
	}

	.feature-desc-container,
	.feature-campaign-wrapper {
		width: 100%;
	}

	.campaign-container a {
		padding: 15px 20px;
	}

	.discover-section .row {
		flex-direction: column;
	}

	.discover-section .col-md-6 {
		width: 100%;
	}
}

@media (max-width: 1200px) {
	.drop-down-cta {
		grid-template-columns: 1fr;
	}

	.drop-down-cta-item {
		border-right: none;
		padding: 10px 0px;
	}

	.drop-down-cta-item.flex-column {
		align-items: start;
	}

	.drop-down-cta-item:not(:last-of-type) {
		border-bottom: 1px solid hsl(0, 0%, 60%);
	}
}

@media (max-width: 1100px) {
	.my-campaigns-user-info .box-wrapper {
		flex-direction: column;
	}

	.my-campaign-username {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
	}

	.my-campaign-userinfo-content {
		width: 100%;
	}
}

@media (max-width: 900px) {
	nav .pd-nav {
		padding-left: 20px;
		padding-right: 20px;
	}

	.welcome-container {
		padding: 10px 0px;
		background-color: transparent;
	}

	.welcome-container {
		width: 100%;
	}

	.welcome-container .page-head {
		font-size: 3.4rem;
	}

	.campaign-container {
		padding: 20px 18px;
		width: 80%;
		margin-top: 30px;
	}

	.campaign-container a {
		font-size: 0.8rem;
		padding: 12px 10px;
		font-weight: 600;
		text-align: center;
	}
}

@media (max-width: 650px) {
	main.pd-down {
		padding: 80px 15px 10px;
	}

	.welcome-container .page-head {
		font-size: 2.8rem;
	}

	.feature-campaign-item-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.start-camp-cta {
		display: none;
	}

	.profile-cta-container {
		width: auto;
		height: auto;
	}

	.feature-item {
		flex-direction: column;
		gap: 15px;
		display: flex;
	}

	.feature-img-container {
		width: 100%;
	}

	.feature-img-container img{
		height : 120px
	}

	.donation-container,
	.location-container {
		padding: 0px !important;
	}

	.donation-container {
		margin-top: 20px;
	}

	.feature-desc-item .mac-text-large {
		font-size: 1.3rem;
		width: 100%;
	}

	.container {
		padding: 0;
	}

	.donor-item.offline {
		border-right: 1px solid hsl(0, 0%, 88%);
	}

	footer {
		padding: 70px 20px 30px;
	}
}

@media (max-width: 450px) {
	.logo-img {
		width: 120px;
	}

	.hero-section {
		min-height: 80vh;
	}

	.hero-section .page-head {
		font-size: 2.5rem;
	}

	.campaign-container {
		width: 90%;
		justify-content: center;
		/* background-color: red; */
	}

	.long-arrow svg {
		left: 10px;
	}

	footer .campaign-container {
		top: -62px;
		bottom: auto;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
	}
	.category-btn {
		padding-left: 20px;
		padding-right: 20px;
	}
	.m-campaign {
		font-size: 0.75rem;
	}

	.make-donation-cta-primary {
		padding: 5px 7px;
	}

	.curr-container .dropdown-util {
		min-width: 100%;
	}
}

@media (max-width: 380px) {
	nav .container {
		padding: 0px;
	}

	.campaign-container a {
		font-size: 0.6rem;
	}

	.logo-img {
		width: 100px;
	}

	.search-icon {
		width: 20px;
		height: 20px;
	}

	.profile-icon {
		width: 32px;
		height: 32px;
	}

	.hamburger {
		width: 50px;
	}

	.dash {
		top: unset;
		left: 40%;
	}
}
