.page-head {
	font-weight: 700;
	font-size: 4rem;
	margin: 0px 0px 10px;
}

.page-sub-h3-head {
	font-weight: 700;
	font-size: 3.125rem;
	margin: 0px;
	line-height: 1.3;
}

.page-sub-head {
	font-weight: 600;
	font-size: 2.2rem;
	margin: 0px;
	line-height: 1.3;
}

.page-sub-h5-head {
	font-weight: 600;
	font-size: 1.6rem;
	margin: 0px;
	line-height: 1.3;
}

.page-mini-head {
	font-weight: 600;
	font-size: 1.3rem;
	margin: 0px;
	line-height: 1.3;
}

.fw-400{
	font-weight: 400!important;
}

.fw-500{
	font-weight: 500!important;
}

.fw-600{
	font-weight: 600!important;
}

.fw-700{
	font-weight: 700!important;
}

.fw-800{
	font-weight: 800!important;
}

.fs-44{
	font-size: 2.75rem!important;
}

.fs-38{
	font-size: 2.375rem!important;
}

.fs-34{
	font-size: 2.125rem!important;
}

.fs-30{
	font-size: 1.875rem!important;
}

.fs-24{
	font-size: 1.5rem!important;
}

.fs-20{
	font-size: 1.25rem!important;
}

.fs-18{
	font-size: 1.125rem!important;
}

.fs-16{
	font-size: 1rem!important;
}

.fs-14{
	font-size: 0.875rem!important;
}

@media(max-width : 800px){
	.page-head{
		font-size: 3rem;
	}
}

@media (max-width: 460px) {
	.page-head {
		font-size: 2.2rem;
	}

	.page-sub-h3-head {
		font-size: 2rem;
	}

	.page-sub-head {
		font-size: 1.8rem;
	}

	.page-mini-head {
		font-size: 1.4rem;
	}

	.page-sub-h5-head {
		font-size: 1.2rem;
	}
}

/* .page-mini-sm-head {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0px;
  line-height: 1.3;
} */

.mac-text-large,
.mac-text-sm,
.mac-text-mid{
	font-family: var(--montserrat-font);
}

.mac-text-large {
	font-weight: 500;
	font-size: 1.6rem;
}

.mac-text-mid {
	font-weight: 500;
	font-size: 1.4rem;
}

.mac-text-sm {
	font-size: 1rem;
	font-weight: 300;
}

.mac-lighter-text {
	color: hsla(0, 0%, 10%, 0.6);
	margin: 0;
}

.mac-italic-text {
	font-style: italic;
	font-size: 1.5rem;
	font-family: var(--montserrat-font);
	color: var(--dark-text-clr-2);
}

.bold-p {
	color: hsla(0, 0%, 10%, 0.9);
	margin: 0;
	font-weight: 600;
	font-size: 1.1rem;
}
